.container {
  width: 100svw;
  height: 100svh;
}

.catchCopy {
  font-family: var(--font-zen-kurenaido);
  font-size: 40px;
  letter-spacing: 24px;
  text-align: center;
}

.catchCopyHighlight {
  color: #FF0000;
}
